.resize,
.counter,
.number {
    margin: 0px 0px 10px 5px;
}

.number {
    font-size:30px;
    font-weight:bold;
    color:#ccc;
}

.limit-unit {
    margin: 5px 0px 10px 5px;
}

.limit-unit > input {
    margin: 0px 0px 0px 5px;
}
